<!-- configurationSelf: the content of the page 'configuration'
shows all the meetings and allows adding new

// TODO
This file is actualy empty yet. But it will get some content soon.<br>
And this is injected: -->
<!--<div id="inj" class="TODO"><%- __(inj) %></div>-->
