<!--Errors are not translated!-->
<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <h1>Error</h1><br>
        <p>Leider besteht ein Problem und die gewünschte Seite konnte nicht geladen werden:</p><br>
        <%= error %>
    </body>
</html>