<html>
    <head>
        <title>testing multiple vues in one page</title>
        
        <!--<script src="/static/vue.js" type="text/javascript"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script type="text/javascript">
            var commonData = {
                name:'The name',
                phones:[
                    0323313131,
                    0521234567
                ],
                objs: [
                    {number:9876},
                    {number:5432}
                ],
                age:12,
                subObj: {world:12}
            }

            class c{
                name='The name';
                phones=[
                    0323313131,
                    0521234567
                ];
                age=12;
                objs = [
                    {number:9876},
                    {number:5432}
                ];
                subObj = {world:12}
            }

            var inst = new c();

            var vue1;
            var vue2;

            function startup(){
                vue1 = new Vue({
                    el:'#app1',
                    //data:commonData,
                    data: inst
                })

                vue2 = new Vue({
                    el:'#app2',
                    //data:commonData,
                    data:inst,
                })

                setTimeout(()=>{inst.subObj.hello=13; inst.phones.push(123456789)}, 5000)
                setTimeout(()=>{commonData.subObj.hello=13; },1000)
                setTimeout(()=>{commonData.phones.push(123456789);}, 2000)

            }

        </script>
    </head>
    <body onload="startup()">
        The same, but the data is within a class-instance.
        <div id="app1">
            {{name}}
            <!--<div v-for="p in objs">{{p.number}}</div>
            <div v-for="o in subObj">{{o}}</div>-->
            <div v-for="ph in phones">{{ph}}</div>
        </div>
        <div id="app2">
            {{name}}
            <!--<div v-for="p in objs">{{p.number}}</div>
            <div v-for="o in subObj">{{o}}</div>-->
            <div v-for="ph in phones">{{ph}}</div>
        </div>
    </body>
</html>