<html>
    <head>
        <title>testing multiple vues in one page</title>
        
        <script src="/static/vue.js" type="text/javascript"></script>
        <script type="text/javascript">
            var commonData = {
                name:'The name',
                phones:[
                    0323313131,
                    0521234567
                ],
                age:12
            }

            var vue1;
            var vue2;

            function startup(){
                vue1 = new Vue({
                    el:'#app1',
                    data:commonData
                })

                vue2 = new Vue({
                    el:'#app2',
                    data:commonData
                })

            }

        </script>
    </head>
    <body onload="startup()">
        <div id="app1">
            {{name}}
            <div v-for="p in phones">{{p}}</div>
        </div>
        <div id="app2">
            {{name}}
            <div v-for="p in phones">{{p}}</div>
        </div>
    </body>
</html>