<!DOCTYPE html>
<html>
    <head>
        <title>test wsExtension</title> 
        <link rel="shortcut icon" type="image/x-icon" href="/favicon_quickNdirty.ico">
        <link rel="icon" type="image/x-icon" href="/favicon_quickNdirty.ico">
        <!--<link rel="icon" type="image/x-icon" href="favicon.ico">
        <script src="/roomManager.js" type="text/javascript"></script>
        <script src="/main.js" type="text/javascript"></script> -->
        <script src="/vue.js" type="text/javascript"></script>
        <script src="/wsExtensionClient.js" type="text/javascript"></script>
        <!--<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styling.css">-->
        <script type="text/javascript">
            var connection;
            var wsProcessor;
            var currentConf = {}; // store how the test framework shal behave currently
            var currentResult = {}; // store the current result; TODO: use this for display with Vue.js!
            var startTime; // the datestamp when the analysis was started; to be used in every 
            var currentTest=-1; // the integer number of the current test. -1 = tests not running
            var results = []; // an array storing all the currentResults; one entry per test
            var V; // the vue instance

            function wait(ms){
                var waitTill = new Date(new Date().getTime() + ms);
                while(waitTill > new Date()){}
            }

            //var testCases = [{request, result}, {request, result}]; // to be defined: various test cases and the correct result
            
            function startup(){

                // start Vue
                V = new Vue({el:'#vue', data: {
                    opt:{retryNumber: 0, 
                        retryInterval: 1000,
                        maxTime: 3000,
                        ackTotal: 0,
                        executeAckCount: 0
                    },
                    optResponse:{retryNumber: 0, 
                        retryInterval: 1000,
                        maxTime: 3000,
                        ackTotal: 0,
                        executeAckCount: 0
                    },
                    currentTest:-1
                }});

                // try to connect to the wsServer and link to the wsExtension
                connection = new WebSocket("ws://" +window.location.hostname+":3301");

                connection.onopen = (event)=>{

                    // simplisticc logger:
                    var logger = {
                        log: function(code, msg){
                            if (code<99){
                                let str = `${(new Date()-startTime)/1000}s: code=${code}, msg=${msg}`;
                                console.log(`Logger: ${str}`);
                                currentResult.localLog.push(str);
                            }
                            
                        }
                    }

                    var noteHandler = (note)=>{
                        if (note.type=='failure'){
                            let str = `${(new Date()-startTime)/1000}s: errMsg=${note.errMsg}, errCode=${note.errCode}, status=${note.status}, lastIncomingAckCount=${note.lastIncomingAckCount}`;
                            console.log(`Failure on the server raised during the response: ${str}`)
                            currentResult.externalFailure.push(str);
                        } else if (note.type=='status'){
                            let str = `${(new Date()-startTime)/1000}s: status=${note.status}, lastIncomingAckCount=${note.lastIncomingAckCount}`;
                            console.log(`Status on the server raised: ${str}`);
                            currentResult.externalStatus.push(str);
                        } else if(note.type=='log'){
                            if (note.code<99){
                                let str = `${(new Date()-startTime)/1000}s: code=${note.code}, message=${note.message}`;
                                console.log(`Log on the server: ${str}`);
                                currentResult.externalLog.push(str);
                            }
                        } else{
                            console.log(`the incoming note had an invalid type: ${note.type}`);
                        }

                    };

                    // no need to handle requests here
                    var requestHandler = ()=>{};

                    // the callback to implement the local 'errors/waiting times'
                    var cbTest = (message)=>{

                        if (message.type=="requestAck"){
                            if (message.ackCount < currentConf.failures.length){
                                // returning true stops the execution
                                if (currentConf.failures[message.ackCount]){
                                    return true;
                                }
                            } else {
                                console.log('Error: ackCount must be larger than the available items in "failures".')
                            }

                            if (message.ackCount < currentConf.pausingTimes.length){
                                if (currentConf.pausingTimes[message.ackCount] > 0){
                                    wait(currentConf.pausingTimes[message.ackCount])
                                }
                            } else {
                                console.log('Error: ackCount must be larger than the available items in "pausingTimes".')
                            }

                            // false = continue the program
                            return false;

                        } else if (message.type=="response") {
                            if (message.ackCount < currentConf.response.failures.length){
                                // returning true stops the execution
                                if (currentConf.response.failures[message.ackCount]){
                                    return true;
                                }
                            } else {
                                console.log('Error: ackCount must be larger than the available items in "failures".')
                            }

                            if (message.ackCount < currentConf.response.pausingTimes.length){
                                if (currentConf.response.pausingTimes[message.ackCount] > 0){
                                    wait(currentConf.response.pausingTimes[message.ackCount])
                                }
                            } else {
                                console.log('Error: ackCount must be larger than the available items in "pausingTimes".')
                            }

                            // false = continue the program
                            return false;

                        } else if (message.type =="note"){
                            // nothing to do, but I dont want it to print an error message...
                        } else {
			                console.log('unknown message.type: ' + message.type)
                        }
                        
                    }

                    // new wsExtensionClass
                    wsProcessor = new wsExtensionClass((mess)=>{connection.send(mess);}, noteHandler, requestHandler, logger, cbTest);

                    // must set the wsProcessor to handle the incoming messages. 
                    connection.onmessage = (mess)=>{wsProcessor._onMessage(mess.data);};

                    // start testing:
                    testing();

                };
                
                
            }

            function createCombination(opt, optResponse, waitTime=1000){
                // what and how many cases do we need ? 
                // nReq = opt.ackTotal, nResp = optResponse.ackTotal
                // 1) 1: everything normal
                // 2) nReq+nResp + 2: failure after arrival of N-requests respectively n-responses
                // 3) nReq+nResp + 2: wait after arrival of N messages 
                // 4) ca (nReq + nResp)/2: too short timeout; such that the timeout ends between the arrival of messages. Overrides maxTime (if given in opt and/or optResponse)
                // 5) ca nResp/2: like 4, but for the failure-timeout on the server (thus the timeout is only for the response)
                // --6) different intervals (probably 0 and 2 are appropriate and enough) --> not done here, since this is part of the input (opt, optResponse) to this function 

                var basicTestDuration = 5000; // ms

                // array to store all created tests (actually the requests that are to be sent)
                var tests = [];
                var request, response, testDuration; // testDuration in ms; afer what timeout the next test shall be started.

                // set the necessary default values
                opt.ackTotal = opt.ackTotal | 0;
                optResponse.ackTotal = optResponse.ackTotal | 0;


                // -----------------
                // 1): everything normal

                response = {
                    // failureCode: 0, // n.a. here
                    optResponse: optResponse,
                    pausingTimes: new Array(optResponse.ackTotal+1).fill(0),
                    failures: new Array(optResponse.ackTotal+1).fill(false)
                }

                request= {
                    failureCode: 0, // the failureCode that shall be returned; test if failure codes <20 are intercepted
                    response: response, // the full set of options to set for the response
                    pausingTimes: new Array(optResponse.ackTotal+1).fill(0), // an array of times in ms, how long it shall be waited; item 0 = ack 0 and so on
                    failures: new Array(opt.ackTotal+1).fill(false) // an array of booleans, if a request shall fail; item 0 = ack 0 and so on
                }

                testDuration = basicTestDuration;

                tests.push({request: request, opt: opt, testDuration: testDuration})

                // -----------------
                // 2): failure after arrival of N-requests and responses

                testDuration = basicTestDuration;
                for (var i=0; i<=opt.ackTotal; i++){

                    let failuresReq = new Array(opt.ackTotal+1).fill(false);
                    let failuresRes = new Array(opt.ackTotal+1).fill(false);
                    let pausingTimesReq = new Array(opt.ackTotal+1).fill(0);
                    let pausingTimesRes = new Array(opt.ackTotal+1).fill(0);
                    failuresReq[i] = true;

                    testDuration

                    response = {
                        // failureCode: 0, // n.a. here
                        optResponse: optResponse,
                        pausingTimes: pausingTimesRes,
                        failures: failuresRes
                    }

                    request = {
                        failureCode: 0, // the failureCode that shall be returned; test if failure codes <20 are intercepted
                        response: response, // the full set of options to set for the response
                        pausingTimes: pausingTimesReq, // an array of times in ms, how long it shall be waited; item 0 = ack 0 and so on
                        failures: failuresReq // an array of booleans, if a request shall fail; item 0 = ack 0 and so on
                    }

                    tests.push({request: request, opt: opt, testDuration: testDuration})
                }

                // the same for response;
                for (var i=0; i<=optResponse.ackTotal; i++){

                    let failuresReq = new Array(opt.ackTotal+1).fill(false);
                    let failuresRes = new Array(opt.ackTotal+1).fill(false);
                    let pausingTimesReq = new Array(opt.ackTotal+1).fill(0);
                    let pausingTimesRes = new Array(opt.ackTotal+1).fill(0);
                    failuresRes[i] = true;

                    response = {
                        // failureCode: 0, // n.a. here
                        optResponse: optResponse,
                        pausingTimes: pausingTimesRes,
                        failures: failuresRes
                    }

                    request = {
                        failureCode: 0, // the failureCode that shall be returned; test if failure codes <20 are intercepted
                        response: response, // the full set of options to set for the response
                        pausingTimes: pausingTimesReq, // an array of times in ms, how long it shall be waited; item 0 = ack 0 and so on
                        failures: failuresReq // an array of booleans, if a request shall fail; item 0 = ack 0 and so on
                    }

                    tests.push({request: request, opt: opt, testDuration: testDuration})
                    
                }

                //-----------------
                // 3): wait after arrival of N-requests and responses

                testDuration = basicTestDuration + waitTime;
                for (var i=0; i<=opt.ackTotal; i++){

                    let failuresReq = new Array(opt.ackTotal+1).fill(false);
                    let failuresRes = new Array(opt.ackTotal+1).fill(false);
                    let pausingTimesReq = new Array(opt.ackTotal+1).fill(0);
                    let pausingTimesRes = new Array(opt.ackTotal+1).fill(0);
                    pausingTimesReq[i] = waitTime;

                    response = {
                        // failureCode: 0, // n.a. here
                        optResponse: optResponse,
                        pausingTimes: pausingTimesRes,
                        failures: failuresRes
                    }

                    request = {
                        failureCode: 0, // the failureCode that shall be returned; test if failure codes <20 are intercepted
                        response: response, // the full set of options to set for the response
                        pausingTimes: pausingTimesReq, // an array of times in ms, how long it shall be waited; item 0 = ack 0 and so on
                        failures: failuresReq // an array of booleans, if a request shall fail; item 0 = ack 0 and so on
                    }

                    tests.push({request: request, opt: opt, testDuration:testDuration})
                }

                // the same for response;
                for (var i=0; i<=optResponse.ackTotal; i++){

                    let failuresReq = new Array(opt.ackTotal+1).fill(false);
                    let failuresRes = new Array(opt.ackTotal+1).fill(false);
                    let pausingTimesReq = new Array(opt.ackTotal+1).fill(0);
                    let pausingTimesRes = new Array(opt.ackTotal+1).fill(0);
                    pausingTimesRes[i] = waitTime;

                    response = {
                        // failureCode: 0, // n.a. here
                        optResponse: optResponse,
                        pausingTimes: pausingTimesRes,
                        failures: failuresRes
                    }

                    request = {
                        failureCode: 0, // the failureCode that shall be returned; test if failure codes <20 are intercepted
                        response: response, // the full set of options to set for the response
                        pausingTimes: pausingTimesReq, // an array of times in ms, how long it shall be waited; item 0 = ack 0 and so on
                        failures: failuresReq // an array of booleans, if a request shall fail; item 0 = ack 0 and so on
                    }

                    tests.push({request: request, opt: opt, testDuration:testDuration})
                    
                }

                // --------------------
                // 4) wait for waittimes (in ms) after every message; failure due to timeout will be called as soon as the defined maxTime is reached. Maxtime is set to be reached in between messages. For all possibilities a test case is created.
                //    Attention: waitTime >> typical round-trip time is required
                
                // first create all maxTimes that are needed:
                var maxTimes = [];
                // during the request, until executeAckCount is reached:
                //   the requestAcks arrive with as ackCount = 1/3/5/... after 2/4/6 seconds, thus the maxTime must be 1/3/5 seconds to be inbetween messages
                for (let i=1; i<=opt.ackTotal && i<opt.executeAckCount;i=i+2){ 
                    maxTimes.push(i*waitTime);
                }

                // add 'timeout' between executeAckCount and the arrival of the response
                maxTimes.push((opt.executeAckCount+1)*waitTime); 
                
                // during the response (i.e. after executeAckCount in the server is reached)
                //   the ackCount starts again
                for(let i=2; i<=optResponse.ackTotal; i=i+2){
                    maxTimes.push(i*waitTime + (opt.executeAckCount+1)*waitTime)
                }

                let failuresReq = new Array(opt.ackTotal+1).fill(false);
                let failuresRes = new Array(opt.ackTotal+1).fill(false);
                let pausingTimesReq = new Array(opt.ackTotal+1).fill(waitTime);
                let pausingTimesRes = new Array(opt.ackTotal+1).fill(waitTime);

                // store the previous maxTimes
                optOrigMaxTime = opt.maxTime;
                optResponseOrigMaxTime = optResponse.maxTime;

                // set the optResponse-maxTime large enough not to fail
                optResponse.maxTime = (optResponse.ackTotal+2)*waitTime;

                for(time in maxTimes){

                    opt.maxTime = time;

                    response = {
                        // failureCode: 0, // n.a. here
                        optResponse: optResponse,
                        pausingTimes: pausingTimesRes,
                        failures: failuresRes
                    }

                    request = {
                        failureCode: 0, // the failureCode that shall be returned; test if failure codes <20 are intercepted
                        response: response, // the full set of options to set for the response
                        pausingTimes: pausingTimesReq, // an array of times in ms, how long it shall be waited; item 0 = ack 0 and so on
                        failures: failuresReq // an array of booleans, if a request shall fail; item 0 = ack 0 and so on
                    }

                    tests.push({request: request, opt: opt, testDuration: time + basicTestDuration})
                }
                // reset to the original maxTime
                opt.maxTime = optOrigMaxTime;
                optResponse.maxTime = optResponseOrigMaxTime;

                
                // 5) like 4, but for the failure-timeout (optResponse.maxTime) on the server (thus the timeout is only for the response)
                
                // store the previous maxTimes
                optOrigMaxTime = opt.maxTime;
                optResponseOrigMaxTime = optResponse.maxTime;

                // set the opt-maxTime large enough not to fail
                opt.maxTime = (opt.executeAckCount + optResponse.ackTotal + 4)*waitTime;

                for(let i=1; i<=optResponse.ackTotal; i=i+2){

                    optResponse.maxTime = i*waitTime;

                    response = {
                        // failureCode: 0, // n.a. here
                        optResponse: optResponse,
                        pausingTimes: pausingTimesRes,
                        failures: failuresRes
                    }

                    request = {
                        failureCode: 0, // the failureCode that shall be returned; test if failure codes <20 are intercepted
                        response: response, // the full set of options to set for the response
                        pausingTimes: pausingTimesReq, // an array of times in ms, how long it shall be waited; item 0 = ack 0 and so on
                        failures: failuresReq // an array of booleans, if a request shall fail; item 0 = ack 0 and so on
                    }

                    tests.push({request: request, opt: opt, testDuration: waitTime*opt.executeAckCount + basicTestDuration + optResponse.maxTime})
                }
                // reset to the original maxTime
                opt.maxTime = optOrigMaxTime;
                optResponse.maxTime = optResponseOrigMaxTime;


                // --------------
                // TODO: other tests???

                return tests;
            }


            function testing(){

                // reset the results array 
                results = [];
                

                var status = (status, lastIncomingAckCount)=>{
                    let str = `${(new Date()-startTime)/1000}s: status=${status}, lastIncomingAckCount=${lastIncomingAckCount}`;
                    console.log(`status here: ${str}`);
                    currentResult.localStatus.push(str);
                }

                var failure = (errMsg, errCode, status, lastIncomingAckCount)=>{
                    let str = `${(new Date()-startTime)/1000}s: errMsg=${errMsg}, errCode=${errCode}, status=${status}, lastIncomingAckCount=${lastIncomingAckCount}`;
                    console.log(`failure here: ${str}`);
                    currentResult.localFailure.push(str);
                }

                var onSuccess = (response)=>{
                    let str = `${(new Date()-startTime)/1000}s: ${response}`
                    console.log('success executed here: ' + str);
                    currentResult.localSuccess.push(str);
                }

                var tests = createCombination({},{});
                
                console.log(`Start of testing: ${tests.length} tests to do.`);

                var request;

                // start with the first test; all subsequent tests will be done after the timeout
                currentTest = 0;
                
                var startTest = ()=>{

                    console.log(`Starting test ${currentTest+1}`);

                    request = tests[currentTest].request;
                    startTime = new Date();

                    // make sure that the locla cbTest also knows what to do by storing the information to the global variable
                    currentConf = request;

                    // reset the curretResult variable
                    currentResult = {
                        localStatus: [],
                        localFailure: [],
                        localSuccess: [],
                        localLog: [],
                        externalFailure: [],
                        externalStatus: [],
                        externalLog: []
                    }

                    wsProcessor.sendRequest(request, onSuccess, failure, tests[currentTest].opt, status)

                    // start the timeout for the next test to start
                    setTimeout(()=>{
                        // store the results
                        results.push(currentResult);

                        if (currentTest<tests.length-1){
                            // start next test
                            currentTest += 1;
                            startTest()
                        } else {
                            // stop running tests
                            currentTest = -1;
                        }
                    }, tests[currentTest].testDuration);
                }

                startTest();


                // old stuff:
                if (false){
                    startTime = new Date();
                
                    // options concerning, how the message is sent
                    var opt = {};

                    var optResponse = opt; // the same as for the request

                    
                    var response = {
                        // failureCode: 0, // n.a. here
                        optResponse: optResponse,
                        pausingTimes: [0],
                        failures: [false]
                    }

                    // request, including the options for the response and the setting how a busy server or failures shall be simulated
                    var request = {
                        failureCode: 0, // the failureCode that shall be returned; test if failure codes <20 are intercepted
                        response: response, // the full set of options to set for the response
                        pausingTimes: [0], // an array of times in ms, how long it shall be waited; item 0 = ack 0 and so on
                        failures: [false] // an array of booleans, if a request shall fail; item 0 = ack 0 and so on
                    }

                    // make sure that the locla cbTest also knows what to do by storing the information to the global variable
                    currentConf = request;

                    // reset the curretResult variable
                    currentResult = {
                        localStatus: [],
                        localFailure: [],
                        localSuccess: [],
                        localLog: [],
                        externalFailure: [],
                        externalStatus: [],
                        externalLog: []
                    }

                    wsProcessor.sendRequest(request, onSuccess, failure, opt, status)
                    //console.log('testing done');
                }
            
            }


        </script>
    </head>
    <body onload = "startup()" onbeforeunload="unloadMe()">
        <h2>wsExtension "test suite"</h2><br />
        <div id="vue">
            Request: <br />
            <table>
                <tr><td>retry number</td><td><input type="number" name="retryNumber" v-model="opt.retryNumber"></td><td>How many times to try to send a message on the client. (I think >0 is actually not helping at all; but the frameworks currently allows it.)</td></tr>
                <tr><td>retry interval (ms) </td><td> <input type="number" name="retryInterval" v-model="opt.retryInterval"></td><td>In what interval a message is sent again. Only needed when retryNumber>0</td></tr>
                <tr><td>max time (ms)</td><td><input type=number name="maxTime" v-model="opt.maxTime"></td><td>the time after which the request is considered failed, when the response is not yet executed (However, it might have arrived.)</td></tr>
                <tr><td>ack Total</td><td><input type="number" name="ackTotal" v-model="opt.ackTotal"></td><td>how many acks are sent in total. Must be larger than executeAckCount. (Note: wsExtension actually amkes sure that ackTotal>=executeAckCount). But in order that the automatic creation of tests works, the condition must be correct.)</td></tr>
                <tr><td>executeAckCount (even number!)</td><td><input type="number" name="executeAckCount" v-model="opt.executeAckCount"></td><td>after which ack-number the request is executed on the server</td></tr>
            </table><br />
            Response :<br />
            <table>
                <tr><td>retry number</td><td><input type="number" name="retryNumber" v-model="optResponse.retryNumber"></td><td>How many times to try to send a message on the server. (I think >0 is actually not helping at all; but the frameworks currently allows it.)</td></tr>
                <tr><td>retry interval (ms) </td><td> <input type="number" name="retryInterval" v-model="optResponse.retryInterval"></td><td>In what interval a message is sent again. Only needed when retryNumber>0</td></tr>
                <tr><td>max time (ms)</td><td><input type=number name="maxTime" v-model="optResponse.maxTime"></td><td>the time after which the response is considered failed, when the response is not yet executed (However, it might have arrived.)</td></tr>
                <tr><td>ack Total</td><td><input type="number" name="ackTotal" v-model="optResponse.ackTotal"></td><td>how many acks are sent in total. Must be larger than executeAckCount. (Note: wsExtension actually amkes sure that ackTotal>=executeAckCount). But in order that the automatic creation of tests works, the condition must be correct.)</td></tr>
                <tr><td>executeAckCount (even number!)</td><td><input type="number" name="executeAckCount" v-model="optResponse.executeAckCount"></td><td>after which ack-number the request is executed on the server</td></tr>
            </table><br />
            <button v-on:click="" v-bind:enabled="{currentTest<0}">Start</button>
            

        </div>



        <div id="number1">
            
        </div>
    </body>
</html>